.body{
  background: #ffff66;
  animation: body 20s infinite;
}
@keyframes body {
	0% {background: :#ffff66 }
	50% {background: #0C090A}
	100% {background: :#ffff66 }
}
.img-1 {
	z-index: 5;
	float: left;
	margin-left: 150px;
	height: 650px;
}
.img-2 {
	z-index: 3;
	height: 100px;
	position: absolute;
	animation: sun 20s infinite;
}
@keyframes sun {
	0% {top: 100px; left: 465px; height: 150px;opacity: 1;}
	50% {top: 450px; left: 450px; height: 0px; opacity: 0; }
	100% {top: 100px; left: 465px; height: 150px; opacity: 1;}
}
.car {
	position: absolute;
	animation: car 20s infinite;
	height: 110px;
}
@keyframes car {
	0% {top: 530px; left: 150px; }
	50% {top: 490px; left: 740px;}
	100% {top: 530px; left: 150px;}
}
.moon {
	position: absolute;
	animation: moon 20s infinite;
	height: 110px;
}
@keyframes moon {
	0% {top: 450px; left: 450px; height: 0px; opacity: 0}
	50% {top: 100px; left: 465px; height: 150px;opacity: 1 }
	100% {top: 450px; left: 450px; height: 1px; opacity: 0}
}
